<p>game-create works!</p>
<form>
    <input type="text" name="title" required placeholder="Título do jogo">
    <input type="text" name="synopsis" placeholder="Sinopse">
    <input type="text" name="studio" placeholder="Estúdio"/>
    <input type="date" name="releaseDate">
    <input type="checkbox" name="played">
    <label for="title">Título*</label>
    <label for="synopsis">Sinópse</label>
    <label for="studio">Estúdio do jogo</label>
    <label for="releaseDate">Data de lançamento</label>
    <label for="played">Já jogou?</label>
    <button>Criar novo jogo</button>
</form>